In [ ]:
import pandas as pd
import sqlite3

In [ ]:
# Conexión a la base de datos y creacion implicta de la misma si no existiera previamente
conexion = sqlite3.connect("C:/Users/Usuario/Desktop/Modelo_BD/Decathlon.db")
cursor = conexion.cursor()

In [ ]:
# Creamos las tablas necesarias
query = '''
CREATE TABLE Proveedor (
    ID_proveedor INTEGER PRIMARY KEY,
    Nombre VARCHAR(50),
    Direccion VARCHAR(120),
    Ciudad VARCHAR(40),
    Provincia VARCHAR,
    CIF VARCHAR(10),
    Telefono VARCHAR(15),
    email VARCHAR(40)

)
'''
cursor.execute(query)

In [ ]:
datos_proveedores = [
    (1, "Adidas", "Calle Deportes, 123", "Barcelona", "Barcelona", "A12345678", "+34 123 456 789", "contacto@adidas.com"),
    (2, "Nike", "Avenida del Deporte, 456", "Madrid", "Comunidad de Madrid", "B87654321", "+34 987 654 321", "contacto@nike.com"),
    (3, "Puma", "Calle Fitness, 789", "Valencia", "Valencia", "C56789012", "+34 234 567 890", "contacto@puma.es"),
    (4, "Under Armour", "Carrera Extrema, 101", "Tarragona", "Barcelona", "D34567890", "+34 345 678 901", "contacto@underarmour.com"),
    (5, "GymShark", "Paseo del Deporte, 555", "Oviedo", "Principado de Asturias", "E23456789", "+34 456 789 012", "contacto@gymshark.com"),
    (6, "New Balance", "Plaza Deportiva, 222", "Plasencia", "Cáceres", "F45678901", "+34 567 890 123", "contacto@newbalance.com"),
    (7, "North Face", "Avenida de la Aventura, 333", "Leganés", "Comunidad de Madrid", "G56789012", "+34 678 901 234", "contacto@northface.com"),
    (8, "Deportes Pepito", "Calle Total, 444", "Novelda", "Alicante", "H67890123", "+34 789 012 345", "pepitodelospalotes1@gmail.es"),
]
# Insertar datos en la tabla Proveedor
insert_query = "INSERT INTO Proveedor (ID_Proveedor, Nombre, Direccion, Ciudad, Provincia, CIF, Telefono, email) VALUES (?, ?, ?, ?, ?, ?, ?, ?)"

# Ejecutar la sentencia SQL para insertar los datos en la tabla
cursor.executemany(insert_query, datos_proveedores)

# Confirmar la transacción
conexion.commit()

In [ ]:
# Creamos la tabla Categoria
query = '''
CREATE TABLE Categoria (
    ID_categoria INTEGER PRIMARY KEY,
    Nombre_Categoria VARCHAR)
'''
cursor.execute(query)

In [ ]:
# Datos de 20 categorías de tejidos
datos_categorias = [
    (1, 'Calzado deportivo'),
    (2, 'Fitness'),
    (3, 'Ciclismo'),
    (4, 'Baloncesto'),
    (5, 'Natación'),
]
insert_query_categorias = "INSERT INTO Categoria (ID_Categoria, Nombre_Categoria) VALUES (?, ?)"

cursor.executemany(insert_query_categorias, datos_categorias)
conexion.commit()

In [ ]:
# Creamos la tabla Producto
query = '''
CREATE TABLE Producto (
    ID_Producto INTEGER PRIMARY KEY,
    Nombre VARCHAR(40),
    Color TEXT,
    Precio FLOAT,
    ID_Categoria INTEGER,
    FOREIGN KEY (ID_Categoria) REFERENCES Categoria(ID_Categoria)
)
'''
cursor.execute(query)

In [ ]:
datos_productos = [
    (1, 'Balón de baloncesto', 'Naranja', 19.99, 4),
    (2, 'Camiseta', 'Azul', 14.99, 2),
    (3, 'Bicicleta normalita', 'Rosa', 209.99, 3),
    (4, 'Bicicleta eléctrica de lujo', 'Negro', 1599.99, 3),
    (5, 'Gorro de natación', 'Negro', 5.99, 5),
    (6, 'Zapatillas Air', 'Amarillo', 109.99, 1),
    (7, 'Alfombrilla de yoga', 'Azul', 14.99, 2),
    (8, 'Mancuernas 8kg.', 'Negro', 39.99, 2),
    (9, 'Zapatillas running', 'Verde', 89.99, 1),
    (10, 'Canasta', 'Rojo', 249.99, 4),
]
insert_query_productos = "INSERT INTO Producto (ID_Producto, Nombre, Color, Precio, ID_Categoria) VALUES (?, ?, ?, ?, ?)"

cursor.executemany(insert_query_productos, datos_productos)
conexion.commit()